---
# tasks file for ansible-role-ansible
- name: ensure Ansible dependencies are installed (RHEL)
  package:
    name: ['python3', 'python3-pip', 'unzip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "RedHat"

- name: ensure Ansible dependencies are installed (ARCH)
  package:
    name: ['python', 'python-pip', 'unzip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "Archlinux"

- name: ensure Ansible dependencies are installed (DEBIAN)
  package:
    name: ['python3', 'python3-pip', 'unzip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "Debian"

- name: check if cache exist
  stat:
    path: /var/cache/ansible
  register: _ansible_cache_exist
  changed_when: false

- name: create Ansible cache directory
  file:
    name: /var/cache/ansible
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "740"
    recurse: true
  when: not _ansible_cache_exist.stat.exists

- name: check if facts.d exist
  stat:
    path: /etc/ansible/facts.d
  register: _ansible_factsd_exist
  changed_when: false

- name: create Ansible /etc/ansible/facts.d directory
  file:
    name: /etc/ansible/facts.d
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "740"
    recurse: true
  when: not _ansible_factsd_exist.stat.exists

- name: define fact_path fact
  set_fact:
    fact_path: /etc/ansible/facts.d
