---
# tasks file for ansible-role-ansible
- name: ensure Ansible dependencies are installed (RHEL/Debian)  # noqa package-latest
  package:
    name: ['python3', 'python3-pip', 'unzip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "RedHat"

- name: switch to a more recent version of python (RHEL)
  shell: set -o pipefail && dnf module enable -y python39
  when: ansible_facts['os_family'] == "RedHat"

- name: install python39 (RHEL)  # noqa package-latest
  package:
    name: ['python39', 'python39-pip']
    state: latest
  when: ansible_facts['os_family'] == "RedHat"

- name: ensure Ansible dependencies are installed (ARCH)  # noqa package-latest
  package:
    name: ['python', 'python-pip', 'unzip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "Archlinux"

- name: ensure Ansible dependencies are installed (DEBIAN)  # noqa package-latest
  package:
    name: ['python3', 'python3-pip', 'zip', 'tar', 'curl']
    state: latest
  when: ansible_facts['os_family'] == "Debian"

- name: check if cache exist
  stat:
    path: "{{ ansible_cache_path }}"
  register: _ansible_cache_exist
  changed_when: false

- name: create Ansible cache directory
  file:
    name: "{{ ansible_cache_path }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "740"
    recurse: true
  when: not _ansible_cache_exist.stat.exists

- name: check if facts.d exist
  stat:
    path: "{{ fact_path }}"
  register: _ansible_factsd_exist
  changed_when: false

- name: create Ansible facts.d directory
  file:
    name: "{{ fact_path }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "740"
    recurse: true
  when: not _ansible_factsd_exist.stat.exists

- name: define fact_path fact
  set_fact:
    fact_path: "{{ fact_path }}"

- name: define ansible_cache_path fact
  set_fact:
    fact_path: "{{ ansible_cache_path }}"
